<template>
  <div :class="'custom-button ' + (level ? level : 'primary') + ' ' + (disabled ? 'disabled' : '') + ' ' + (text ? 'btn-text' : '') + ' ' + (loading ? 'loading' : '') + ' ' + (check ? 'check' : '')" >
    <v-row class="my-auto mx-0">
      <!-- <template v-if="loading">
        <Spinner/>
      </template> -->
      <!-- <template v-else> -->
        <div v-if="computedIcon" class="pa-0 d-flex col-icon " :class="{'mx-auto' : !text, 'pl-4' : text}" >
          <Icon :icon="computedIcon"/>
        </div>
        <div v-if="text" class="custom-button-text pa-0 pr-4 d-flex col-text" :class="{'pl-2' : icon, 'pl-4 mx-auto' : !icon}">
          <span class="mx-auto">{{text}}</span>
        </div>
      <!-- </template> -->
    </v-row>
  </div>
</template>


<script lang="ts">
import { Vue, prop, Options } from 'vue-class-component';
import Icon from '@/components/UIElements/Icon.vue'
import Spinner from '@/components/UIElements/Spinner.vue'
import { ButtonLevels } from '@/enums'

class Props {
  level?: typeof ButtonLevels = prop({
    required: false,
  });
  text?: string = prop({
    required: false,
  });
  icon?: string = prop({
    required: false,
  });
  disabled?: boolean = prop({
    required: false,
  });
  loading?: boolean = prop({
    required: false,
  });
  check?: boolean = prop({
    required: false,
  });
}

@Options({
  components: {
    Icon,
    Spinner
  },
})
export default class CustomButton extends Vue.with(Props) {

  get computedIcon() {
    let ret = this.icon ? this.icon : ''
    if( this.loading ) {
      ret = 'spinner'
    }
    if( this.check ) {
      ret = 'check-circle'
    }
    return ret
  }
}



</script>

<style lang="scss">
@import '@/css/variables';

.custom-button {
  width: fit-content !important;
  height: 40px;
  transition: background 0.1s ease-in-out;
  .col-icon {
    
  }
  &.btn-text {
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    width: 100%;
    height: 40px;
  }
  cursor: pointer;
  display: flex;
  &.disabled {
    box-shadow: none !important;
    color: $color-neutral-grey-30 !important;
    cursor:auto !important;
    pointer-events: none;
    .icon {
      background:$color-neutral-grey-30 !important;
      -webkit-mask-size:16px;
    }
  }
  &.primary {
    border-radius: 40px;
    background-color: #3219b2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.24)), to(hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(#3219b2), to(#3219b2));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.24), hsla(0, 0%, 100%, 0)), linear-gradient(180deg, #3219b2, #3219b2);
    box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, 0.16), 2px 2px 4px 0 rgba(0, 0, 108, 0.24), inset 0 0 0 0 hsla(0, 0%, 100%, 0.24), inset 0 0 0 1px rgba(0, 0, 58, 0.08);
    font-family: Inter, sans-serif;
    line-height: 16px;
    font-weight: 400;
    border: 1px solid $color-neutral-grey-8;
    color: white;
    .icon {
      background:white;
      -webkit-mask-size:16px;
    }
    &:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.08)), to(hsla(0, 0%, 100%, 0.08))), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.24)), to(hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(#3219b2), to(#3219b2));
      background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.08), hsla(0, 0%, 100%, 0.08)), linear-gradient(180deg, hsla(0, 0%, 100%, 0.24), hsla(0, 0%, 100%, 0)), linear-gradient(180deg, #3219b2, #3219b2);
      box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, 0.16), 2px 2px 4px 0 rgba(0, 0, 108, 0.24), inset 0 0 0 0 hsla(0, 0%, 100%, 0.24), inset 0 0 0 1px rgba(0, 0, 58, 0.08);
    }
    &:active {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.16)), to(rgba(0, 0, 0, 0.16))), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(hsla(0, 0%, 100%, 0.24))), -webkit-gradient(linear, left top, left bottom, from(#3219b2), to(#3219b2));
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.24)), linear-gradient(180deg, #3219b2, #3219b2);
      box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.16), inset 0 0 0 0 hsla(0, 0%, 100%, 0.24), inset 0 0 0 1px rgba(0, 0, 58, 0.08);
    }
    &.disabled {
      background: $color-background-button-text-primary-disabled !important;
    }
    &.loading {
      background: $color-background-button-text-primary-disabled !important;
      .icon {
        background: #00003a !important;
      }
    }
    &.check {
      background: #f1fdf8 !important;
      .icon {
        background: #49dfa5 !important;
      }
    }
  }

  &.secondary {
    font-weight: 500;
    border: 1px solid $color-neutral-grey-8;
    box-shadow: $shadow-light-btn;
    background: $color-background-button-text-secondary-normal;
    color: $color-brand;
    border-radius:80px;
    .icon {
      background:$color-brand;
      -webkit-mask-size:16px;
    }
    &:hover {
      box-shadow: $shadow-light-btn-hover;
      background: $color-background-button-text-secondary-hover;
    }
    &:active {
      box-shadow: $shadow-light-btn-pressed;
      background: $color-background-button-text-secondary-pressed;
    }
    &.disabled {
      background: $color-background-button-text-secondary-disabled !important;
    }
    &.loading {
      background: $color-background-button-text-secondary-disabled !important;
      .icon {
        background: #00003a !important;
      }
    }
    &.check {
      background: $color-background-button-text-secondary-disabled !important;
      .icon {
        background: #49dfa5 !important;
      }
    }
  }

  &.tertiary {
    font-weight: 500;
    border: none;
    box-shadow: none;
    background: $color-background-button-text-tertiary-normal;
    color: $color-brand;
    border-radius:80px;
    .icon {
      background:$color-brand;
      -webkit-mask-size:16px;
    }
    &:hover {
      background: $color-background-button-text-tertiary-hover;
    }
    &:active {
      background: $color-background-button-text-tertiary-pressed;
    }
    &.disabled {
      background: $color-background-button-text-tertiary-disabled !important;
    }
    &.loading {
      background: $color-background-button-text-tertiary-disabled !important;
      .icon {
        background: #00003a !important;
      }
    }
    &.check {
      background: $color-background-button-text-tertiary-disabled !important;
      .icon {
        background: #49dfa5 !important;
      }
    }
  }

  &.small-icon {
    border: none;
    box-shadow: none;
    background: none;
    color: #00003A;
    border-radius:8px;
    height: 24px;
    width: 24px;
    .icon {
      background:#00003A !important;
    }
    &:hover {
      background: $color-background-button-icon-small-hover;
    }
    &:active {
      background: $color-background-button-icon-small-pressed;
      .icon {
        background: $color-brand !important;
      }
    }
    &.disabled {
      background: $color-background-button-icon-small-disabled !important;
    }
  }

  &.slider-selected {
    font-weight: 500;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%), #FFFFFF;
    color: black;
    border-radius:80px;
  }
  &.slider-not-selected {
    font-weight: 500;
    border: none;
    box-shadow: none;
    background: none;
    color: $color-neutral-grey-60;
    border-radius:80px;
  }
}


</style>
