<template>
   <div class="custom-slide-button mx-auto" @click="slide">
    <v-row class="ma-auto">
      <v-col cols="6" class="pa-0 d-flex custom-slide-button-left"  >
        <CustomButton :level="level1"  :text="text1" />
      </v-col>
      <v-col cols="6" class="pa-0 d-flex custom-slide-right">
        <CustomButton :level="level2"  :text="text2" />
      </v-col>
    </v-row>
    </div>
</template>


<script lang="ts">
import { Vue, prop, Options } from 'vue-class-component';
import CustomButton from '@/components/UIElements/CustomButton.vue'
import { ButtonLevels } from '@/enums'

class Props {
  text1: string = prop({
    required: true,
  });
  text2: string = prop({
    required: true,
  });
}

@Options({
  components: {
    CustomButton
  },
})
export default class CustomSliderButton extends Vue.with(Props) {
  ButtonLevels:typeof ButtonLevels = ButtonLevels

  level1: string = ButtonLevels.SliderSelected
  level2: string = ButtonLevels.SliderNotSelected

  slide() {
    const temp = this.level1
    this.level1 = this.level2
    this.level2 = temp
  }

}
</script>


<style lang="scss">
@import '@/css/variables';
.custom-slide-button {
  cursor: pointer;
  background: $color-neutral-grey-8;
  border-radius: 40px;
  padding: 2px;
  display: flex;
  width: 100%;
  >.v-row {
    flex-wrap: nowrap !important;
  }
  .custom-slide-button-left {

  }
  .custom-slide-button-right {

}
}
</style>
